* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body,
.tile {
	display: flex;
	justify-content: center;
	align-items: center;
}

body {
	background-color: #1b1b1b;
	height: 100vh;
}

#game-board {
	width: 600px;
	height: 600px;
    position: relative;
}

.tile {
    position: absolute;
	border: 1px solid white;
	height: 200px;
	width: 200px;
	color: transparent;
	font-size: 30px;
    transition: top .2s linear, left .2s linear;
    background: url(./owl.jpg);
}

.tile:last-of-type {
    background: none;
    border: none;
}
